transformers==4.37.0
sentence-transformers==2.2.2
huggingface-hub==0.20.3
langchain==0.1.2
langchain-community==0.0.14
llama-cpp-python==0.2.26
streamlit==1.30.0
streamlit-extras==0.3.6
streamlit-cookies-manager==0.2.0